@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

.site-title {
	font-size: 7.25vw;
	line-break: break-word;
}
h1, h2, h3, h4, h5, a {
	font-family: 'Roboto Slab', serif;
	color: #c59a30 !important;
}
h2 {
	font-size: 2.125rem;
}
h4 {
	font-size: 1.5rem;
}
p {
	font-size: 1.35rem;
}
p a {
	font-size: 1.25rem;
}
header li {
	font-size: 1rem;
}
.single .entry-meta::before {
	color: white;
	background-color: white;
}

.site-title::after, .site-footer::before {
	background-color: #ecf5fc;
}

main nav {
	display: none;
}

footer .site-info {
	display: none;
}

figcaption {
/* 	text-align: center; */
}
#comments {
	display: none;
}
.entry-content ul {
	margin-top: -1em;
	margin-bottom: 1em;
}
.entry-content ul li a {
	font-size: 1.425rem;
	font-style: initial;
}
.entry-content ul li {
	font-style: italic;
	font-size: 1.3rem;
}

.entry-wrapper {
	width: 75% !important;
}
.entry-meta {
	display: none;
}
.entry-title {
	width: 75% !important;
}
.entry-footer {
	display: none;
}
a
#post-53 .entry-wrapper {
	width: 95% !important;
}

/* Deals with all images */
img {
		box-shadow: 2px 2px 4px rgb(22, 22, 22);
}
/* Deals with posts on the home page */
#post-53 img {
	display: block !important;
	margin: auto !important;
}
#post-53 figcaption {
	text-align: center;
}
/* Deals with posts on the students page */
#post-296 .wp-block-latest-posts li {
	width: calc(33.33333% - 0.83333em) !important;
	text-align: center;
}
